<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="${account.firstName + ' ' + account.lastName}"></title>
</head>
<body>
	<section layout:fragment="body">

		<div class="container shadow-lg p-3 mb-5 bg-white rounded"
			style="margin-top: 50px;">

			<div class="row justify-content-md-center">
				<div class="show-image">
					<form enctype="multipart/form-data" id="updateImage">
						<img
							th:src="${#strings.isEmpty(account.image) ? '/images/profile-placeholder.png' : 'data:image/png;base64,' + account.image}"
							id="accountImage"
							class="img-fluid rounded-circle mx-auto d-block"
							style="max-height: 300px;">
						<input type="file" hidden="true" accept="image/*"
							id="accountImageBtn" name="accountImage" />
						<input class="btn update" type="button" id="updateAccountImageBtn"
							th:value="#{account.image.update}" />
						<input class="btn delete" type="button" id="deleteAccountImage"
							th:value="#{account.image.delete}" />
					</form>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.username}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.username}"></strong>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.first.name}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.firstName}"></strong>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.last.name}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.lastName}"></strong>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.email}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.email}"></strong>
				</div>
			</div>
		</div>

		<div class="container mt-5" th:if="${not #lists.isEmpty(courses)}">
			<h1 class="text-center" th:text="#{account.courses}"></h1>

			<table class="table table-hover table-responsive-lg">
				<thead class="thead-light">
					<tr>
						<th scope="col" th:text="#{table.number}"></th>
						<th scope="col" th:text="#{course.table.name}"></th>
						<th scope="col" th:text="#{account.course.teacher}"></th>
						<th scope="col" th:text="#{course.table.attendance}"></th>
						<th scope="col" th:text="#{course.table.students.count}"></th>
						<th th:if="${#authentication.name == account.username}"
							scope="col" th:text="#{course.table.grade}"></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="course, iteration : ${courses}">
						<tr>
							<th scope="row" th:text="${iteration.index + 1}"></th>
							<td th:text="${course.name}"></td>
							<td><a th:href="${course.teacher.username}"
									th:text="${course.teacher.firstName + ' ' + course.teacher.lastName}"></a></td>
							<td th:text="${course.attendance}"></td>
							<td th:text="${#lists.size(course.courseStudents)}"></td>
							<th:block th:each="courseStudent : ${course.courseStudents}"
								th:if="${#authentication.name == account.username}">
								<td
									th:if="${courseStudent.studentId == account.id && courseStudent.grade != null}"
									th:text="${courseStudent.grade.name + ' ' + courseStudent.grade.value}"></td>
							</th:block>
						</tr>
					</th:block>
				</tbody>
			</table>

			<div
				th:if="${not #lists.isEmpty(courses) && #authentication.name == account.username}">
				<h1 class="text-center" th:text="#{course.preview.attendance}"></h1>

				<th:block th:each="course, iteration : ${courses}">
					<div class="container mt-5">
						<table
							class="table table-hover table-bordered table-responsive-sm table-sm">
							<thead class="thead-light">
								<tr>
									<th style="width: 20%" class="text-center" scope="col"
										th:text="${course.name}"></th>
									<th class="text-center" scope="col"
										th:text="#{account.courses.attend.date}"></th>
								</tr>
							</thead>
							<tbody>
								<th:block
									th:each="courseAttendance, iteration : ${course.courseAttendance}"
									th:if="${courseAttendance.studentId == account.id}">
									<tr>
										<th class="text-center" scope="row"
											th:text="${iteration.index + 1}"></th>
										<td class="text-center"
											th:text="${#dates.format(courseAttendance.attendance, 'dd-MMMM-yyyy HH:mm:ss')}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</th:block>
			</div>
		</div>
	</section>
	<section layout:fragment="js">
		<script th:inline="javascript">
			$(document).ready(function() {
				var tokenValue = /*[[${#authentication.details.keycloakSecurityContext.tokenString}]]*/;
				var accoundId = /*[[${account.keycloakId}]]*/;
				
				$("#updateAccountImageBtn").click(function() {
					$("#accountImageBtn").trigger('click');
				});

				$("#accountImageBtn").change(function() {
					if($("#accountImageBtn").val()) {
						$("#updateImage").submit();
					}
				});

				$("#updateImage").ajaxForm({
				 	type : 'POST',
				 	url : "/api-gateway/account/image/" + accoundId,
					timeout: 30000,
					headers: {
		    	        'Authorization': 'Bearer ' + tokenValue
	    	        },
					success : function(response) {
						var reader = new FileReader();
    	                reader.onload = function (e) {
    	                   $('#accountImage').attr('src', e.target.result);
    	                }
    	               reader.readAsDataURL($("#accountImageBtn")[0].files[0]);
    	               $("#accountImageBtn").val("");
					}
			 });
			});
		</script>
	</section>
</body>
</html>
