<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="${account.firstName + ' ' + account.lastName}"></title>
</head>
<body>
	<section layout:fragment="body">

		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<span th:text="#{account.username}"></span>
				</div>
				<div class="col-md-auto">
					<strong class="text-center" th:text="${account.username}"></strong>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<span th:text="#{account.first.name}"></span>
				</div>
				<div class="col-md-auto">
					<strong class="text-center" th:text="${account.firstName}"></strong>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<span th:text="#{account.last.name}"></span>
				</div>
				<div class="col-md-auto">
					<strong class="text-center" th:text="${account.lastName}"></strong>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<span th:text="#{account.email}"></span>
				</div>
				<div class="col-md-auto">
					<strong class="text-center" th:text="${account.email}"></strong>
				</div>
			</div>
		</div>

		<div class="container mt-5" th:if="${not #lists.isEmpty(courses)}">
			<h1 class="text-center" th:text="#{account.courses}"></h1>

			<table class="table table-hover table-responsive-lg">
				<thead class="thead-light">
					<tr>
						<th scope="col" th:text="#{table.number}"></th>
						<th scope="col" th:text="#{course.table.name}"></th>
						<th scope="col" th:text="#{course.table.attendance}"></th>
						<th scope="col" th:text="#{account.courses.students}"></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="course, iteration : ${courses}">
						<tr>
							<th scope="row" th:text="${iteration.index + 1}"></th>
							<td th:text="${course.name}"></td>
							<td th:text="${course.attendance}"></td>
							<td><th:block
									th:if="${#lists.isEmpty(course.courseStudents)}">
									0
								</th:block> <th:block th:if="${not #lists.isEmpty(course.courseStudents)}">
									<table>
										<thead>
											<tr>
												<th scope="col" th:text="#{course.preview.student.name}"></th>
												<th scope="col"
													th:text="#{course.preview.student.attendance}"></th>
												<th scope="col" th:text="#{course.preview.student.grade}"></th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="courseStudent : ${course.courseStudents}">
												<tr>
													<td
														th:text="${courseStudent.student.firstName + ' ' + courseStudent.student.lastName}"></td>
													<td class="text-center"><th:block
															th:each="courseAttendance : ${course.courseAttendance}">
															<p
																th:if="${courseAttendance.studentId == courseStudent.student.id}"
																th:text="${#dates.format(courseAttendance.attendance, 'dd-MMMM-yyyy HH:mm:ss')}">
															</p>
														</th:block>
														<div class="container">
															<div class="row">
																<div class='col-sm-6'>
																	<div class='input-group date'
																		th:id="'datetime' + ${courseStudent.studentId}">
																		<input type='text' class="form-control" />
																	</div>
																</div>
																<div class='col-sm-6'>
																	<button class="btn btn-primary"
																		th:onclick="'javascript:insertStudentAttendance(\'' + ${courseStudent.courseId} + '\', \'' + ${courseStudent.studentId} + '\');'"
																		th:text="#{course.button.save}"></button>
																</div>
															</div>
														</div></td>
													<td th:if="${courseStudent.grade != null}"
														th:text="${courseStudent.grade.name + ' ' + courseStudent.grade.value}"></td>
													<td th:if="${courseStudent.grade == null}"><select
															th:id="'grades' + ${courseStudent.courseId}"
															class="selectpicker" data-live-search="true">
														</select>
														<button class="btn btn-primary"
															th:onclick="'javascript:updateStudentGrade(\'' + ${courseStudent.courseId} + '\', \'' + ${courseStudent.studentId} + '\');'"
															th:text="#{course.button.save}"></button></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</th:block></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="myModal"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="#{course.modal.title}"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{course.modal.success.message}"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{course.modal.close.button}"></button>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section layout:fragment="js">
		<script th:inline="javascript">
			$(document).ready(function() {
				$('date').datetimepicker({
					locale: 'bg'
				});

				if($("#grades")) {
					$('select').selectpicker();
	
					$.ajax({
						type : 'GET',
						url : "/api-gateway/course/grades",
						success : function(response) {
							$.each(response, function(index, value) {
								$('select').append('<option value="' + value.id + '">' + value.name + ' ' + value.value + '</option>');
							});
	
							$("select").selectpicker("refresh");
						}
					});
				}
			});

			function updateStudentGrade(courseId, studentId) {
				$.ajax({
					type : 'POST',
					url : "/api-gateway/course/courseStudent/update",
					data: {
						"gradeId": $("#grades" + courseId).val(),
						"courseId": courseId,
						"studentId": studentId
					},
					success : function(response) {
						$('#myModal').modal()
					}
				});
			}

			function insertStudentAttendance(courseId, studentId) {
				$.ajax({
					type : 'POST',
					url : "/api-gateway/course/courseAttendance/insert",
					data: {
						"attendance": $("#datetime" + studentId).val(),
						"courseId": courseId,
						"studentId": studentId
					},
					success : function(response) {
						$('#myModal').modal()
					}
				});
			}
		</script>
	</section>
</body>
</html>
