<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="${account.firstName + ' ' + account.lastName}"></title>
</head>
<body>
	<section layout:fragment="body">

		<div class="container shadow-lg p-3 mb-5 bg-white rounded"
			style="margin-top: 50px;">

			<div class="row justify-content-md-center">
				<div class="show-image">
					<form enctype="multipart/form-data" id="updateImage">
						<img
							th:src="${#strings.isEmpty(account.image) ? '/images/profile-placeholder.png' : 'data:image/png;base64,' + account.image}"
							id="accountImage"
							class="img-fluid rounded-circle mx-auto d-block"
							style="max-height: 300px;">
						<input type="file" hidden="true" accept="image/*"
							id="accountImageBtn" name="accountImage" />
						<input class="btn update" type="button" id="updateAccountImageBtn"
							th:value="#{account.image.update}" />
						<input class="btn delete" type="button" id="deleteAccountImage"
							th:value="#{account.image.delete}" />
					</form>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.username}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.username}"></strong>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.first.name}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.firstName}"></strong>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.last.name}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.lastName}"></strong>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col col-lg-2">
					<span th:text="#{account.email}"></span>
				</div>
				<div class="col col-lg-2">
					<strong class="text-center" th:text="${account.email}"></strong>
				</div>
			</div>
		</div>

		<div class="container mt-5" th:if="${not #lists.isEmpty(courses)}">
			<h1 class="text-center" th:text="#{account.courses}"></h1>

			<table class="table table-bordered table-hover table-responsive-md">
				<thead class="thead-light">
					<tr class="text-center">
						<th scope="col" th:text="#{table.number}"></th>
						<th scope="col" th:text="#{course.table.name}"></th>
						<th scope="col" th:text="#{course.table.attendance}"></th>
						<th th:if="${#authentication.name == account.username}"
							scope="col" th:text="#{account.courses.students}"></th>
					</tr>
				</thead>
				<tbody class="text-center">
					<th:block th:each="course, iteration : ${courses}">
						<tr>
							<th scope="row" th:text="${iteration.index + 1}"></th>
							<td th:text="${course.name}"></td>
							<td th:text="${course.attendance}"></td>
							<td th:if="${#authentication.name == account.username}"><th:block
									th:if="${#lists.isEmpty(course.courseStudents)}">
									0
								</th:block> <th:block th:if="${not #lists.isEmpty(course.courseStudents)}">
									<table class="table-sm table-responsive-sm">
										<thead>
											<tr>
												<th scope="col" th:text="#{course.preview.student.name}"></th>
												<th scope="col"
													th:text="#{course.preview.student.attendance}"></th>
												<th scope="col" th:text="#{course.preview.student.grade}"></th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="courseStudent : ${course.courseStudents}">
												<tr>
													<td><a th:href="${courseStudent.student.username}"
															th:text="${courseStudent.student.firstName + ' ' + courseStudent.student.lastName}"></a></td>
													<td class="text-center"><th:block
															th:each="courseAttendance : ${course.courseAttendance}">
															<p
																th:if="${courseAttendance.studentId == courseStudent.student.id}"
																th:text="${#dates.format(courseAttendance.attendance, 'dd/MM/yyyy HH:mm')}">
															</p>
														</th:block>
														<div class="container"
															th:id="'attendances_' + ${courseStudent.courseId} + '_' + ${courseStudent.studentId}">
															<div class="row">
																<div class='col-sm-8'>
																	<div class='input-group date'>
																		<input type='text' class="form-control"
																			th:id="'datetime_'  + ${courseStudent.courseId} + '_' + ${courseStudent.studentId}" />
																	</div>
																</div>
																<div class='col-sm-2'>
																	<button class="btn btn-primary"
																		th:onclick="'javascript:insertStudentAttendance(\'' + ${courseStudent.courseId} + '\', \'' + ${courseStudent.studentId} + '\');'"
																		th:text="#{course.button.save}"></button>
																</div>
															</div>
														</div></td>
													<td th:if="${courseStudent.grade != null}"
														th:text="${courseStudent.grade.name + ' ' + courseStudent.grade.value}"></td>
													<td th:if="${courseStudent.grade == null}"
														th:id="'grade_' + ${courseStudent.courseId} + '_' + ${courseStudent.studentId}"><select
															th:id="'grades_' + ${courseStudent.courseId} + '_' + ${courseStudent.studentId}"
															class="selectpicker" data-live-search="true">
														</select>
														<button class="btn btn-primary"
															th:onclick="'javascript:updateStudentGrade(\'' + ${courseStudent.courseId} + '\', \'' + ${courseStudent.studentId} + '\');'"
															th:text="#{course.button.save}"></button></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</th:block></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="myModal"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="#{course.modal.title}"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{course.modal.success.message}"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{course.modal.close.button}"></button>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section layout:fragment="js">
		<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script th:inline="javascript">
			$(document).ready(function() {
				var tokenValue = /*[[${#authentication.details.keycloakSecurityContext.tokenString}]]*/;
				var accoundId = /*[[${account.keycloakId}]]*/;
				
				$("#updateAccountImageBtn").click(function() {
					$("#accountImageBtn").trigger('click');
				});

				$("#accountImageBtn").change(function() {
					if($("#accountImageBtn").val()) {
						$("#updateImage").submit();
					}
				});

				$("#deleteAccountImage").click(function() {
					$.ajax({
						type : 'DELETE',
						url : "/api-gateway/account/image/" + accoundId,
						success : function(response) {
							$("#accountImage").attr("src", "/images/profile-placeholder.png");
						}
					});
				});

				$('[id^=datetime]').datetimepicker({
					locale: 'bg',
					format: 'DD/MM/YYYY HH:mm'
				});

				if($("#grades")) {
					$('select').selectpicker();
	
					$.ajax({
						type : 'GET',
						url : "/api-gateway/course/grades",
						success : function(response) {
							$.each(response, function(index, value) {
								$('select').append('<option value="' + value.id + '">' + value.name + ' ' + value.value + '</option>');
							});
	
							$("select").selectpicker("refresh");
						}
					});
				}

				 $("#updateImage").ajaxForm({
					 	type : 'POST',
						url : "/api-gateway/account/image/" + accoundId,
						timeout: 30000,
						headers: {
			    	        'Authorization': 'Bearer ' + tokenValue
		    	        },
						success : function(response) {
							var reader = new FileReader();
	    	                reader.onload = function (e) {
	    	                   $('#accountImage').attr('src', e.target.result);
	    	                }
	    	               reader.readAsDataURL($("#accountImageBtn")[0].files[0]);
	    	               $("#accountImageBtn").val("");
						}
				 });
			});

			function updateStudentGrade(courseId, studentId) {
				$.ajax({
					type : 'POST',
					url : "/api-gateway/course/courseStudent/update",
					data: {
						"gradeId": $("#grades_" + courseId + "_" + studentId).val(),
						"courseId": courseId,
						"studentId": studentId
					},
					success : function(response) {
						$("#grade_" + courseId + "_" + studentId).html($("#grades_" + courseId + "_" + studentId + " option:selected").text());
						$('#myModal').modal();
					}
				});
			}

			function insertStudentAttendance(courseId, studentId) {
				 $.ajax({
					type : 'POST',
					url : "/api-gateway/course/courseAttendance/insert",
					data: {
						"attendance": $("#datetime_" + courseId + "_" + studentId).val(),
						"courseId": courseId,
						"studentId": studentId
					},
					success : function(response) {
						$("<p>" + $("#datetime_" + courseId + "_" + studentId).val() + "</p>").insertBefore($("#attendances_" + courseId + "_" + studentId));
						$("#datetime_" + courseId + "_" + studentId).val("");
						$('#myModal').modal();
					}
				});
			}
		</script>
	</section>
</body>
</html>
