<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="#{logo}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="container mt-5">
			<div class="row justify-content-md-center">
				<div class="col">
					<select id="course" class="selectpicker form-control"
						data-live-search="true" data-width="100%"
						th:title="#{admin.courses.select}">
					</select>
				</div>

				<div class="col">
					<select id="student" class="selectpicker form-control" disabled
						data-live-search="true" data-width="100%"
						th:title="#{admin.students.select}">
					</select>
				</div>

				<div class="col-md-auto">
					<button class="btn btn-primary"
						th:onclick="'javascript:addCourseStudent();'"
						th:text="#{course.button.save}"></button>
				</div>
			</div>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="myModal"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" th:text="#{course.modal.title}"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="#{course.modal.success.message}"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{course.modal.close.button}"></button>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section layout:fragment="js">
		<script th:inline="javascript">
			$(document).ready(function() {
				$('select').selectpicker();

				var students;
				var courses;

				$("#course").on('change', function() {
					selectedCourseId = this.value;
					$('#student').find('option').remove().end();
					
					var selectedCourse;
					$.each(courses, function(index, value) {
						if(value.id == selectedCourseId) {
							selectedCourse = value;
						}
					});

					courseStudentsIds = selectedCourse.courseStudents.map(function(x) {
						  return x.studentId;
					});
					
					$.each(students, function(index, value) {
						if(!courseStudentsIds.includes(value.id)) {
							$('#student').append('<option value="' + value.id + '">' + value.firstName + ' ' + value.lastName + '</option>');
						}
					});
					
					$('#student').attr('disabled', false);
					$("#student").selectpicker("refresh");
				});

				$.ajax({
					type : 'GET',
					url : "/api-gateway/course/courses",
					success : function(response) {
						courses = response;
						$.each(response, function(index, value) {
							$('#course').append('<option value="' + value.id + '">' + value.name + '</option>');
						});

						$("#course").selectpicker("refresh");
					}
				});

				$.ajax({
					type : 'GET',
					url : "/api-gateway/students",
					success : function(response) {
						students = response.accounts;
					}
				});
			});

			function addCourseStudent() {
				$.ajax({
					type : 'POST',
					url : "/api-gateway/course/courseStudent/insert",
					data : {
						"courseId" : $('#course').val(),
						"studentId" : $('#student').val()
					},
					success : function(response) {
						if(response) {
							$('#myModal').modal()
						}
					}
				});
			}
			
		</script>
	</section>
</body>
</html>
