<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="#{logo}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="container mt-5">
			<div class="row">
				<div class="col">
					<select id="course" class="selectpicker form-control"
						data-live-search="true" data-width="100%"
						th:title="#{admin.courses.select}">
					</select>
				</div>

				<div class="col">
					<select id="student" class="selectpicker form-control" disabled
						data-live-search="true" multiple data-width="100%"
						th:title="#{admin.students.select}">
					</select>
				</div>
			</div>
		</div>
	</section>

	<section layout:fragment="js">
		<script th:inline="javascript">
			$(document).ready(function() {
				$('select').selectpicker();

				var students;
				var courses;

				$("#course").on('change', function() {
					selectedCourseId = this.value;
					$('#student').find('option').remove().end();
					
					var selectedCourse;
					$.each(courses, function(index, value) {
						if(value.id == selectedCourseId) {
							selectedCourse = value;
						}
					});

					courseStudentsIds = selectedCourse.courseStudents.map(function(x) {
						  return x.studentId;
					});
					
					$.each(students, function(index, value) {
						if(!courseStudentsIds.includes(value.id)) {
							$('#student').append('<option value="' + value.id + '">' + value.firstName + ' ' + value.lastName + '</option>');
						}
					});
					
					$('#student').attr('disabled', false);
					$("#student").selectpicker("refresh");
				});

				$.ajax({
					type : 'GET',
					url : "/api-gateway/course/courses",
					success : function(response) {
						courses = response;
						$.each(response, function(index, value) {
							$('#course').append('<option value="' + value.id + '">' + value.name + '</option>');
						});

						$("#course").selectpicker("refresh");
					}
				});

				$.ajax({
					type : 'GET',
					url : "/api-gateway/students",
					success : function(response) {
						students = response.accounts;
					}
				});
			});
			
		</script>
	</section>
</body>
</html>
