<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/BaseLayout}">
<head>
<title th:text="#{logo}"></title>
</head>
<body>
	<section layout:fragment="body">
		<div class="container mt-5">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Tu-sofia-logo.svg"
				class="img-fluid rounded mx-auto d-block">

			<h1 class="text-center" th:text="#{logo}"></h1>

			<h3 class="text-center" th:text="#{index.text}"></h3>
			<h5 class="text-center" th:text="#{index.student}"></h5>
			<h5 class="text-center" th:text="#{index.faculty.number}"></h5>
		</div>
	</section>
</body>
</html>
